* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    background-image: url('../img/bgimg.jpeg.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
}

main {
    height: 90vh;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
              url('bgimg.jpeg') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7rem;
}

.login-container {
    text-align: center;
}

.login-container h1 {
    background: transparent;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-box {
    background:transparent;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);;
    width: 400px;
}

.login-box h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 1rem;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sign-in {
    padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: white;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.sign-in:hover {
    transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: white; /* Inverse background color */
  color: #000; /* Inverse text color */
}

.signup-link {
    margin-top: 1rem;
}

.sign-up {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5rem;
}

.sign-up:hover {
    text-decoration: underline;
}