* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
              url('../img/bgimg.jpeg.jpg') center/cover;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
}

.signup-container {
    background-color: transparent;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;

}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.name-fields {
    display: flex;
    gap: 1rem;
}

input {
    padding: 0.8rem;
    margin: 0.2rem 0;
    border: 1px solid #ddd;
    border-radius: 1rem;
    font-size: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sign-in {
    padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: white;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: white; /* Inverse background color */
    color: #000; 
}

p {
    color: #000000;
}

p a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5rem;
}

p a:hover {
    text-decoration: underline;
}
